/*320px — 480px: Mobile devices.*/
@media only screen and (min-width: 320px) {

  * {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
  }
  
  body {
    background-color: #e6faff;
  }

  header {
    padding: 22px;
    text-align: center;
    background-color: #005B4B;
  }

  header a {
    text-decoration: none;
  }

  header img {
    position: absolute;
    top: 11px;
    left: 12px;
    height: 2cm;
    width: 2cm;
  }

  h1 {
    color:#ffffff;
    font-family: 'Roboto', sans-serif;
    margin-left: 20%;
    font-size: 45px;
  }

  nav {
    overflow: hidden;
    background-color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
  }

  nav a {
    float: left;
    font-size: 16px;
    color: #000000;
    text-align: center;
    padding: 15px 26.7px;
    text-decoration: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #000000;
    padding: 15px 36px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  nav a:hover, .dropdown:hover .dropbtn {
    background-color: #FFFFB3;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 139px;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #FFFFB3;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  main {
    padding: 15px;
    background-color:#005B4B;
  }
 
  h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
  }

  p{
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
  }
  
  section img {
    max-width: 100%;
    height: auto;
  
  }

  .welcome, .about {
    padding-bottom: 20px;
  }

  .circle-container{
    width: 300px;
    height: 300px;
    padding: 10px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
  }

  #welcome-bg {
    background: url('..//assets/images/welcome.jpg') no-repeat center center;
    background-size: 400px;
    height: 260px;
    width: 260px;
    border-radius: 50%;
    margin-top: 3%;
    margin-left: 3%;
  }

  #about-bg {
    background: url('..//assets/images/about.jpeg') no-repeat center center;
    background-size: 400px;
    height: 260px;
    width: 260px;
    border-radius: 50%;
    margin-top: 3%;
    margin-left: 3%;
  }


  #contact-form {
    padding-top: 10px;
  }
  
  label {
    color:#ffffff;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  input[type=text], input[type=email], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Roboto Slab', serif;
  }
  
  textarea {
    width: 100%;
    height: 200px;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Roboto Slab', serif;
  }
  
  input[type=submit] {
    background-color: #ffffff;
    color: #000000;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  input[type=submit]:hover {
    background-color: #FFFFB3;
  }
  
  footer {
    padding: 0%;
    background: #000000;
    color: #ffffff;
  }
  
  .social-media {
    text-align: center;
  }

  .social-media > li {
    display: inline;
  }

  .social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #ffffff;
  }
  
  .copyright {
    font-size: 10px;
    text-align: center;
  }
  
  video{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
}

/*481px — 768px: iPads, Tablets.*/
@media only screen and (min-width: 481px) {
  .header h1 {
    font-size: 50px;
  }

  .header img {
    height: 3cm;
    width: 3cm;
  }

  .navbar a {
    font-size: 25px;
    padding: 14px 13.8px;
  }
  
  .dropdown .dropbtn {
    font-size: 25px;  
    padding: 1px 14px;
  }

  .dropdown-content {
    min-width: 206px;
  }
  
  .body h2 {
    font-size: 35px;
  }
  
  .body h3 {
    font-size: 30px;
  }

  .body p {
    font-size: 25px;
  }
  
  label, input, textarea {
    font-size: 25px;
  }

  .fa {
    padding: 10px;
    width: 30px;
  }

  .social_media {
    font-size: 40px;
  }
  
  .address_contact {
    padding: 15px; 
  }
  
  .address, .contact_info  {
    font-size: 20px;
  }
  
  .copyright {
    font-size: 15px;
    padding-top: 50px;
  }

}

/*769px — 1024px: Small screens, laptops.*/
@media only screen and (min-width: 769px) {
  .header h1 {
    font-size: 80px;
  }

  .header img {
    height: 5cm;
    width: 5cm;
  }

  .navbar a {
    font-size: 35px;
    padding: 14px 38px;
  }
  
  .dropdown .dropbtn {
    font-size: 35px;  
    padding: 1px 38.5px;
  }

  .dropdown-content {
    min-width: 316px;
  }

  .body h2 {
    font-size: 45px;
  }
  
  .body h3 {
    font-size: 40px;
  }

  .body p {
    font-size: 35px;
  }

  label, input, textarea {
    font-size: 35px;
  }

  .fa {
    padding: 10px;
    width: 40px;
  }

  .social_media {
    font-size: 50px;
  }
  
  .address_contact {
    padding: 15px; 
  }
  
  .address, .contact_info  {
    font-size: 30px;
  }
  
  .copyright {
    font-size: 20px;
    padding-top: 120px;
  }

}

/*1025px — 1200px: Desktops, large screens.*/
@media only screen and (min-width: 1025px) {
  .header h1 {
    font-size: 100px;
  }

  .header img {
    height: 6cm;
    width: 6cm;
  }

  .navbar a {
    font-size: 40px;
    padding: 14px 70px;
  }
  
  .dropdown .dropbtn {
    font-size: 40px;  
    padding: 1px 70px;
  }

  .dropdown-content {
    min-width: 403px;
  }

  .body img {
    max-width: 70%;
    margin-left: 160px;
  }
    
}

/*1201px and more — Extra large screens, TV.*/
@media only screen and (min-width: 1201px) {
  body {
    margin-top: 0%;
    margin-left: 18%;
    margin-right: 18%;
  }

  .header h1 {
    font-size: 90px;
  }

  .header img {
    height: 5cm;
    width: 5cm;
    left: 19%;
  }

  .navbar a {
    font-size: 40px;
    padding: 14px 30px;
  }
  
  .dropdown .dropbtn {
    font-size: 40px;  
    padding: 1px 30px;
  }

  .dropdown-content {
    min-width: 322px;
  }

  .body img {
    max-width: 70%;
    margin-left: 15%;
  }

}